a {
  text-decoration: none !important;
  white-space: nowrap;
}

.sidebar {
  position: fixed;
  z-index: 100;
  height: 100%;
  width: 70px;
  min-width: 70px;
  transition: all 0.5s ease-in-out;
  background-color: var(--main-color);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.sidebar.expand {
  width: 260px;
  min-width: 260px;
}

.toggle {
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 16px 24px 16px 19px;
}

.toggle img {
  width: 2rem;
}

.semi-appearance {
  opacity: 0.5;
}

.sidebar:not(.expand) .sidebar-logo,
.sidebar:not(.expand) .sidebar-link span {
  display: none;
}

.sidebar-link {
  padding: 8px 24px;
  color: var(--secondry-color) !important;
  display: block;
}

.sidebar-link:hover {
  background-color: rgba(255, 255, 255, 0.075);
}

.sidebar-link .icon {
  color: var(--secondry-color) !important;
  margin-right: 0.75rem;
}
