.hiddenL,
.hiddenR {
  opacity: 0;
  transition: all 1s;
}
.hiddenL {
  transform: translateX(-100%);
}
.hiddenR {
  transform: translateX(100%);
}
.show {
  opacity: 1;
  transform: translateX(0);
}
.applyBtn {
  color: var(--secondry-color);
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
  position: relative;
  background-color: var(--main-color);
}
.applyIcon {
  position: absolute;
  right: -20%;
  color: var(--main-color);
  animation: infiniteMove 0.5s infinite ease-in-out;
}

@media (max-width: 991px) {
  .homePic.d-flex {
    display: none !important;
  }
}

@keyframes infiniteMove {
  0%,
  100% {
    right: -20%;
  }
  50% {
    right: -25%;
  }
}
