:root,
#root,
body,
html {
  padding: 0;
  margin: 0;
  background-color: #efefef;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: #e48700;
}
